html {
   height: 100%; /*This enables % values to be applied to other objects*/
}

body {
   background-color: black;
   color: white;
   font-size: small;
   font-family: Arial,Helvetica,san-serif;
   height: 95%; /*This enables % values to be applied to other objects*/
   
}

/*Alter hyperlink colour properties for user friendly colours on dark background*/
a {
   color: #0984f6;
 }
 a:visited {
   color: rgb(236, 13, 13);
 }
 a:hover, a:active, a:focus {
   color:rgb(154, 218, 5);
 }

.leftPane {
   float: left;
   width: 450px;
   height: 100%;
   margin: 0px;
   padding-top: 0px;
   padding-left: 5px;
   padding-bottom: 0px;
   padding-right: 0px;
}

.rightPane {
   width: auto;
   height: 100%;
   min-width: 600px;
   padding-top: 0px;
   padding-left: 5px;
   padding-bottom: 0px;
   padding-right: 0px;
   line-height: 2;
   margin: 0px;
   color: white;
   margin-left: 460px; /* width of the left pane + 2xmargin */
   overflow: auto; /* scrollbar shown for overflow */
   /* Add transparency to background image */
   background-image:  
   linear-gradient(
         rgba(255, 255, 255, 0.2),
         rgba(255, 255, 255, 0.2)
    ),
   url("RightBackground.png");
   background-repeat: no-repeat;
   background-size: cover;
}
